# Translator specific .dockerignore
# Allow models to be copied for this service
models/
./**/*/models
./*/**/models/
./.models
node_modules/
**/*/node_modules/
.venv/
./**/*/.venv/
./**/*/venv/
venv/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.git/
.github/
.vscode/
*.md
!README.md
